<!DOCTYPE html>

<html>
<head lang="{{ #language }}">
  <meta charset="UTF-8" />
  <title>{{ #title }}</title>
  <meta name="description" content="{{ #description }}" />
  <meta name="keywords" content="{{ #keywords }}" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/bootstrap-3.3.6.min.css" />
  <link rel="stylesheet" href="/styles/github-dark.min.css">
  <link rel="stylesheet" href="/styles/application.css" />
</head>
<body class="theme--forest">

{{ layout }}

<script src="/scripts/jquery-2.1.4.min.js"></script>
<script src="/scripts/bootstrap-3.3.6.min.js"></script>
<script src="/scripts/highlight.min.js"></script>
<script src="/scripts/patch.js"></script>
<script>hljs.highlightAll();</script>
{{ #control-search-button }}

</body>
</html>
