/* Layout */
body {
    min-height: 100%;
    padding-top: 50px;
}
.row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.content {
}
.paper {
    min-height: 600px;
}
.footer {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.left-bar ul, .right-bar ul {
    list-style-type: none;
    padding-left: 0;
}
.left-bar ul ul, .right-bar ul ul {
    padding-left: 20px;
}
/* Input group in navigation bar */
.navbar-input-group {
    font-size: 0; /* removes whitespace between button and input */
}
.navbar-input-group input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 130px !important;
}
.navbar-input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

/* Search page */
.search-phrase {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #f8f8f8;
}
.search-result {
    margin-bottom: 5px;
    padding: 0 1em 5px 1em;
    border-bottom: solid 2px #e7e7e7;
}
.search-result h4 {
    margin-bottom: 0;
}
mark {
    background-color: yellow;
}

/* General */
